# ==============================
# Core Data Engineering
# ==============================
pandas
numpy
pyarrow

# ==============================
# Database
# ==============================
sqlalchemy
psycopg2-binary

# ==============================
# Configuration & Environment
# ==============================
PyYAML
python-dotenv

# ==============================
# Data Ingestion
# ==============================
requests

# ==============================
# Web Application / Dashboard
# ==============================
Flask
gunicorn

# ==============================
# Data Visualization
# ==============================
plotly

# ==============================
# Testing
# ==============================
pytest
pytest-cov

# ==============================
# Code Quality
# ==============================
black
flake8